<?xml version="1.0" encoding="utf-8" ?>
<SkinTemplates>
    <SkinTemplate Name="BootstrapFluid" StyleMergeMode="MergedAfter">
        <Styles>
            <Style href="css/bootstrap.min.css" />
            <Style href="css/bootstrap-responsive.min.css" />
        </Styles>
        <Scripts>
            <Script Src="js/jquery-1.10.2.min.js" />
            <Script Src="js/bootstrap.js" />
        </Scripts>
    </SkinTemplate>
</SkinTemplates>